html, body {
    overflow-x: hidden;
}

.corpo {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3% 0 0 0;
}

textarea {
    width: 60%;
}